@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
input, textarea, select {
  color: #881337; /* rose-900 */
}
::placeholder {
  color: rgba(136, 19, 55, 0.45);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.heart{
  position: absolute;
  bottom: -40px;
  font-size: 22px;
  opacity: 0.65;
  animation: floatUp 6s linear infinite;
}

.h1{ left: 10%; animation-duration: 6.5s; }
.h2{ left: 35%; animation-duration: 7.2s; font-size: 26px; opacity: 0.55;}
.h3{ left: 60%; animation-duration: 6.8s; font-size: 24px; opacity: 0.6;}
.h4{ left: 82%; animation-duration: 7.8s; font-size: 28px; opacity: 0.5;}

@keyframes floatUp{
  0% { transform: translateY(0) scale(1); opacity: 0; }
  10% { opacity: 0.55; }
  100% { transform: translateY(-120vh) scale(1.15); opacity: 0; }
}

